/* This file is for your main application css. */
@import "bootstrap";

.card-body {
  background-color: DarkGrey;
//  background-color: #b5cde1;
}

.dark-color {
  color: #323232;
}

.dark-background {
  background-color: #323232;
}

.middle-grey-color {
  color: #777777;
}

.white {
  color: White;
}

.dark-info {
  background-color: #323232;
  border: thick solid #777777;
  color: #777777;
}

.light-info {
  background-color: Gainsboro;
  border: thick solid #777777;
  color: #777777;
}

.darks-turn-info {
  background-color: #323232;
  border: thick solid #277714;
  color: #277714;
}

.lights-turn-info {
  background-color: Gainsboro;
  border: thick solid #277714;
  color: #277714;
}

.navbar-styling {
  color: #Gainsboro;
}

.app-background {
  background-color: #323232;
}

.game-board {
  background-color: #277714;
  border: thin solid #323232;
  border-radius: 5%;
}

.alice-blue {
  background-color: AliceBlue;
//  background-color: #277714;
}

.game-over:hover {
  background: #277714
}

.dark-success:hover {
    background: #323232;
}

.light-success:hover {
  background: Gainsboro;
}

.btn-success {
  background-color: #277714;
}

.btn-info, .btn-info:hover {
  background-color: #323232;
}

.btn-warning, .btn-warning:hover {
  background-color: Gainsboro;
}

// red: #761428
// blue: #142876

.incomplete {
  background-color: MistyRose;
}

th {
  background-color: #777777;
  color: Gainsboro;
}

.bp {
  background-color: #777777;
  color: Gainsboro;
}

.bp:hover {
  background: #142876;
  color: Gainsboro;
}

.bs {
  background-color: #777777;
  color: Gainsboro;
}

.bs:hover {
  background: #761428;
  color: Gainsboro;
}

.bd {
  background-color: LightCoral;
}

.bd:hover {
  background: FireBrick;
}

.spacer {
  margin-top: 142.5%;
}

.cell {
  position: absolute;
  top: 11.5%;
  bottom: 0;
  left: 11%;
  right: 0;
  width: 77.5%;
  height: 77.5%;
}
