/* This file is for your main application css. */
@import "bootstrap";

.card-body {
  background-color: DarkGrey;
//  background-color: #b5cde1;
}

.dark-background {
  background-color: #323232;
}

.middle-grey-color {
  color: #777777;
}

.nav-text {
  color: #848484;
}

.nav-link {
  color: #777777;
}

.nav-link:hover {
  color: #438421;
}

.table-styling {
  background-color: #323232;
  color: #848484;
  border-collapse: collapse;
}

th {
  font-weight: normal;
}

td {
  text-align: center;
  padding: 10px 20px;
}

tbody tr td {
  border-top: thick solid #323232;
  border-bottom: thick solid #323232;
}

.first-td {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.last-td {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

tbody tr td {
  background-color: #348421;
  color: #323232;
}

tbody tr:hover td {
  background-color: #277714;
  color: Gainsboro;
}

// tbody tr:nth-of-type(odd) td {
//   background-color: #277714;
//   color: Gainsboro;
// }
//
// tbody tr:nth-of-type(even) td {
//   background-color: #348421;
//   color: Gainsboro;
// }

.dark-color {
  color: #323232;
}

.white {
  color: White;
}

.dark-info {
  background-color: #323232;
  border: thick solid #848484;
  color: #848484;
}

.light-info {
  background-color: Gainsboro;
  border: thick solid #6a6a6a;
  color: #6a6a6a;
}

.darks-turn-info {
  background-color: #323232;
  border: thick solid #277714;
  color: #277714;
}

.lights-turn-info {
  background-color: Gainsboro;
  border: thick solid #277714;
  color: #277714;
}

.app-background {
  background-color: #323232;
}

.game-board {
  background-color: #277714;
  border: thin solid #323232;
  border-radius: 5%;
}

.alice-blue {
  background-color: AliceBlue;
//  background-color: #277714;
}

.game-over:hover {
  background: #277714
}

.dark-success:hover {
    background: #323232;//dark
}

.light-success:hover {
  background: Gainsboro;//light
}

.btn-success {
  background-color: #277714;//pool felt green
}

.btn-info, .btn-info:hover {
  background-color: #323232;
}

.btn-warning, .btn-warning:hover {
  background-color: Gainsboro;
}

// red: #761428
// blue: #142876

.incomplete {
  background-color: MistyRose;
}

.bp {
  background: #777777;
  color: Gainsboro;
}

.bp:hover {
  background-color: #142876;
  color: Gainsboro;
}

.bs {
  background-color: #777777;
  color: Gainsboro;
}

.bs:hover {
  background: #761428;
  color: Gainsboro;
}

.bd {
  background-color: LightCoral;
}

.bd:hover {
  background: FireBrick;
}

.spacer {
  margin-top: 142.5%;
}

.cell {
  position: absolute;
  top: 11.5%;
  bottom: 0;
  left: 11%;
  right: 0;
  width: 77.5%;
  height: 77.5%;
}
