<%= if @current_user do %>
  <div class="row">
    <div class="col">
      <h1>Reversi Game: <%= @game %></h1>
      <script>window.gameName = "<%= @game %>";</script>
      <div id="game">Loading...</div>
    </div>
  </div>
<% end %>
