<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello, Reversi!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script>window.userToken = "TODO";</script>
  </head>

  <body class="app-background">
    <div class="row dark-background">
      <div class="col-md-2">
        <h5 class="mb-0 nav-text text-left ml-3 mt-2">Reversi</h5>
      </div>

      <div class="col-md-8">
        <nav class="navbar">
          <%= if @current_user do %>
            <%= link "about", to: page_path(@conn, :about),
              class: "nav-item nav-link" %>

            <%= link "games",
              to: page_path(@conn, :home, %{"which" => "all_to_join"}),
              class: "nav-item nav-link" %>

            <%= link "leader board", to: user_path(@conn, :index),
              class: "nav-item nav-link" %>

            <%= link "my profile",
              to: user_path(@conn, :edit, @current_user.id),
              class: "nav-item nav-link" %>

            <%= link "log out", to: "/session", method: :delete,
              class: "nav-item nav-link" %>
          <% end %>
        </nav>
      </div>

      <div class="col-md-2">
        <h5 class="mb-0 mr-0 nav-text text-right mr-3 mt-2">
        <%= if @current_user, do: @current_user.name %>
      </h5>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <%= if get_flash(@conn, :info) do %>
            <p class="alert alert-info text-center border-0" role="alert">
              <%= get_flash(@conn, :info) %>
            </p>
          <% end %>

          <%= if get_flash(@conn, :error) do %>
            <p class="alert alert-danger text-center border-0" role="alert">
              <%= get_flash(@conn, :error) %>
            </p>
          <% end %>
        </div>
      </div>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
